@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using Norse.Identity

@inject UserManager<NorseUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3>Personal Data</h3>

<FluentGrid>
    <FluentGridItem xs="12" sm="6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <FluentButton Type="ButtonType.Submit" Appearance="ButtonAppearance.Primary" Style="width:20%;">Download</FluentButton>
        </form>
        <p style="margin-top: 10px; text-align: end;">
            <FluentLink Href="Account/Manage/DeletePersonalData">Delete your personal data</FluentLink>
        </p>
    </FluentGridItem>
</FluentGrid>

@code {
    [CascadingParameter]
    HttpContext HttpContext { get; set; } = default!;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
