@page "/Account/Manage/TwoFactorAuthentication"

@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Identity
@using Norse.Hosting.Web.Server.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Two-factor authentication (2FA)</PageTitle>

<StatusMessage />
<h3>Two-factor authentication (2FA)</h3>
<FluentGrid>
    <FluentGridItem sm="9">
    @if (_canTrack)
    {
        if (_is2FaEnabled)
        {
            if (_recoveryCodesLeft == 0)
            {
                <FluentMessageBar Margin="@Margin.Bottom2" Intent="MessageBarIntent.Warning" AllowDismiss="false">You have no recovery codes left.</FluentMessageBar>
                <p>You must <a href="Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
            }
            else if (_recoveryCodesLeft == 1)
            {
                <FluentMessageBar Margin="@Margin.Bottom2" Intent="MessageBarIntent.Warning" AllowDismiss="false">You have 1 recovery code left.</FluentMessageBar>
                <p>You can <a href="Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            }
            else if (_recoveryCodesLeft <= 3)
            {
                <FluentMessageBar Margin="@Margin.Bottom2" Intent="MessageBarIntent.Warning" AllowDismiss="false">You have @_recoveryCodesLeft recovery codes left.</FluentMessageBar>
                <p>You should <a href="Account/Manage/GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            }

            if (_isMachineRemembered)
            {
                <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                    <AntiforgeryToken />
                    <FluentButton Type="ButtonType.Submit" Appearance="ButtonAppearance.Primary">Forget this browser</FluentButton>
                </form>
            }

            <FluentLink Href="Account/Manage/Disable2fa" >Disable 2FA</FluentLink>
            <FluentLink Href="Account/Manage/GenerateRecoveryCodes" >Reset recovery codes</FluentLink>
        }

        <h4>Authenticator app</h4>
        @if (!_hasAuthenticator)
        {
            <FluentLink Href="Account/Manage/EnableAuthenticator">Add authenticator app</FluentLink>
        }
        else
        {
            <FluentLink Href="Account/Manage/EnableAuthenticator">Set up authenticator app</FluentLink>
            <FluentLink Href="Account/Manage/ResetAuthenticator">Reset authenticator app</FluentLink>
        }
    }
    else
    {
        <FluentMessageBar Intent="MessageBarIntent.Error" AllowDismiss="false">Privacy and cookie policy have not been accepted.</FluentMessageBar>
        <p>You must accept the policy before you can enable two-factor authentication.</p>
    }
    </FluentGridItem>
</FluentGrid>

@code {
    bool _canTrack;
    bool _hasAuthenticator;
    int _recoveryCodesLeft;
    bool _is2FaEnabled;
    bool _isMachineRemembered;

    [CascadingParameter]
    HttpContext HttpContext { get; set; } = default!;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        _canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        _hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        _is2FaEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        _isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        _recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "The current browser has been forgotten. When you login again from this browser you will be prompted for your 2fa code.",
            HttpContext);
    }
}
